{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ movie.poster.url }}" class="img-fluid">
    </div>
    <div class="col-md-6">
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.description }}</p>
        <p><strong>Category:</strong> {{ movie.category }}</p>
        <p><strong>Date:</strong> {{ movie.show_date }}</p>
        <p><strong>Time:</strong> {{ movie.show_time }}</p>
        <p><strong>Location:</strong> {{ movie.location }}</p>
        <p><strong>Price:</strong> ${{ movie.price }}</p>
        <a href="{% url 'book_ticket' movie.pk %}" class="btn btn-success">Book Tickets</a>
    </div>
</div>
{% endblock %}
